[submodule "vim/pack/airblade/start/vim-gitgutter"]
	path = vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/machakann/start/vim-highlightedyank"]
	path = vim/pack/machakann/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "vim/pack/morhetz/start/gruvbox"]
	path = vim/pack/morhetz/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
